#contenidoA{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
#carta{
    box-shadow: 0 0 20px rgb(83, 197, 217);
    margin-bottom: 5px;
    padding-bottom: 2%;
}
#imas{
    width: 90%;
    height: 60%;
}
#card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#img{
    width: 60%;
    height: 60%;
}

body{
    background-color: black;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgba(250, 78, 16, 0.776);
}

#formulario{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 8%;
}

#but1, #but{
    height: min-content;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border-radius: 3%;
    box-shadow: 0 0 20px rgb(83, 197, 217);
    border: none;
}
#tip{
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border-radius: 3%;
    box-shadow: 0 0 20px rgb(83, 197, 217);
    border: none;
}
#searchTerm{
    background-color: rgb(83, 197, 217);
    border: none;
    border-radius: 3%;
    box-shadow: 0 0 20px rgb(217, 177, 83);
    color: azure;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2cap black;
}